// ========================================================
// === Variables ===
// ========================================================
@color-white: #fff;
@color-black: #333;
@color-gray-light: #f7f7f7;
@color-gray-dark: #777;

// ========================================================
// === Mixins ===
// ========================================================
.if(@condition, @property, @value) when (@condition = true) {
  @{property}: @value;
}

.content-centered(@x: true, @y: true) {
  display: flex;
  .if(@x, justify-content, center);
  .if(@y, align-items, center);
}

// ========================================================
// === Classes ===
// ========================================================
.flex-centered {
  .content-centered();
}

.flex-centered-X {
  .content-centered(@y: false);
}

.flex-centered-Y {
  .content-centered(@x: false);
}

// ========================================================
// === Base ===
// ========================================================
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  background-color: @color-gray-light;
}

// ========================================================
// === Typography ===
// ========================================================
body {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

// ========================================================
// === Components ===
// ========================================================

textarea {
  font-size: 0.5em;
  width: 100%;
  min-height: 10rem;
}

.btn {
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  color: @color-black;
  background-color: @color-gray-light;
  border: 1px solid @color-gray-dark;
  border-radius: 3px;
  cursor: pointer;
}

// ========================================================
// === Main ===
// ========================================================
#app {
  > * {
    padding: 1rem;
  }
}

#goTop&:extend(.flex-centered) {
  position: fixed;
  right: 2rem;
  bottom: 6vh;
  width: 4rem;
  height: 4rem;
  background-color: @color-white;
  border: 0.2rem solid;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &::after {
    content: 'TOP';
    display: block;
  }

  &:hover {
    box-shadow: 0 0 0.5rem @color-gray-dark;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;

  ul {
    list-style: none;
  }
  > ul ul {
    margin-left: 1rem;
  }
}

main {
  margin-left: 15rem;
}

section {
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;

  h3 {
    margin-top: 1rem;
  }
}
