.flex-centered,
#goTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-centered-X {
  display: flex;
  justify-content: center;
}
.flex-centered-Y {
  display: flex;
  align-items: center;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #f7f7f7;
}
body {
  font-family: 'Microsoft JhengHei', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}
#app {
  margin: 0 auto;
  padding: 2rem 3rem;
  max-width: 76rem;
  background-color: #fff;
  box-shadow: 0.5rem 0.5rem 1rem #777;
}
#goTop {
  position: fixed;
  right: 2rem;
  bottom: 6vh;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border: 0.2rem solid;
  border-radius: 2rem;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
#goTop::after {
  content: 'TOP';
  display: block;
}
#goTop:hover {
  box-shadow: 0 0 0.5rem #777;
}
header {
  height: 100vh;
}
nav ul {
  list-style: none;
}
main {
  margin-top: 2rem;
}
section {
  margin: 0 auto;
  height: 100vh;
  padding: 1rem;
}
